.root {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid darkgrey;
  align-items: center;
  position: relative;
}

.bag {
  z-index: 10;
  user-select: none;
}

.img {
  width: 40px;
}

.navLink {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.cartInfo {
  position: absolute;
  right: 40px;
  padding: 0 10px;
  z-index: 0;
}

.orderInfo {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
